* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif, sans-serif;
}

:root {
    --main-color: #000;
    --first-padding-value: 20px;
    --border-size: 1px;
}

nav {
    background-color: darkblue;
    padding: 10px
}

nav a {
    color: white;
    display: block;
    padding: var(--first-padding-value)
}

main img {
    float: right;
    width: 120px;
    height: auto;
    border: var(--border-size) solid var(--main-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    margin: 50px 0 1rem 1rem;

}

main h2 {
    margin: 1rem
}

h1 {
    color: var(--main-color);
    margin: 1rem;
}

p {
    font-size: var(--first-padding-value);
    padding: 0;
    margin: 1rem;
}

main {
    max-width: 840px;
    text-align: justify;
    margin-top: 10px;
}

aside {
    width: 20em;
    text-align: center;
    position: relative;
}

aside h1 {
    position: absolute
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 50px;
    left: 110px;
}

footer {
    margin-top: 15px;
    border-top: var(--border-size) solid var(--main-color);
    color: var(--main-color);
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}

.indent {
    padding-left: 2rem;
}